process {
    withLabel: covosnar             { conda = "$projectDir/envs/covsonar.yaml" } 
    withLabel: breakfast            { conda = "$projectDir/envs/breakfast.yaml" } 
    withLabel: count_ambigous       { conda = "$projectDir/envs/count_ambigous.yaml" } 
    withLabel: cluster              { conda = "$projectDir/envs/cluster.yaml" } 
}