process {
    withLabel: count_ambigous       { cpus = 1 } 
    withLabel: count_mutations      { cpus = 1 } 
    withLabel: cluster              { cpus = 1 } 
    withLabel: covsonar             { cpus = params.cores } 
    withLabel: breakfast            { cpus = params.cores } 
    withLabel: msa                  { cpus = params.cores } 
}