params {
    conda_cache   = 'conda'
    input         = "$projectDir/data/risk-assessment-sequences.fasta.gz"
    database      = 'risk.db'
    outdir        = 'results'
    help	      = false	
    sonar_py      = "$projectDir/lib/covsonar/sonar.py"
    lin_aliases   = "$projectDir/data/alias_key.json"
    de_esc_vars   = "$projectDir/data/de_escalated_variants.csv"
    esc_calc_path = "$projectDir/lib/SARS2-RBD-escape-calc"
    cpu_per_task  = 4
    th_yellow     = 5
    th_red        = 16
    th_af         = 0.3
}

profiles {
    conda {
        conda{
            cacheDir = params.conda_cache
            timeout = '45 min'
            enabled = true
        }
        params.enable_conda    = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        includeConfig 'config/conda.config'
    }
    mamba { 
        conda {
            cacheDir = params.conda_cache
            enabled = true
            useMamba = true
        }
        params.enable_conda    = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        includeConfig 'config/conda.config'
    }
    local {
    executor {
        name = "local"
    }
    params.cloudProcess = false
    includeConfig 'config/local.config'
}
}
