process {
    withLabel: covsonar             { conda = "$projectDir/envs/covsonar.yaml" } 
    withLabel: breakfast            { conda = "$projectDir/envs/breakfast.yaml" } 
    withLabel: count_ambigous       { conda = "$projectDir/envs/count_ambigous.yaml" } 
    withLabel: cluster              { conda = "$projectDir/envs/cluster.yaml" } 
    withLabel: msa                  { conda = "$projectDir/envs/mafft.yaml" } 
    withLabel: pangolin             { conda = "$projectDir/envs/pangolin.yaml" } 
}