process {
    withLabel: count_ambigous       { cpus = 1 } 
    withLabel: count_mutations      { cpus = 1 } 
    withLabel: cluster              { cpus = 1 } 
    withLabel: covsonar             { cpus = params.cpu_per_task } 
    withLabel: breakfast            { cpus = params.cpu_per_task } 
    withLabel: msa                  { cpus = params.cpu_per_task } 
    withLabel: pangolin             { cpus = params.cpu_per_task } 
}